
### Git Ignore


## Project Files

# Configuration
properties/
# settings.py

# Data
log/
data/
**.csv

## Integrated Development Environment

# PyCharm
.idea/

# Spyder
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints


## Environment

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version


## Testing

# Unit Test / Coverage Reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


## Distribution

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
logs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


## Installation

# PyInstaller
*.manifest
*.spec

# PyBuilder
target/

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt


## Other

# Byte-compiled / Optimized / DLL Files
__pycache__/
*$py.class


# Other
.iws
.iml
